# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Ll]ogs/
/[Uu]serSettings/
/[Pp]ackages/

# ProjectSettings (можно коммитить, но многие не коммитят)
# /ProjectSettings/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# MSBuild
[Dd]ebug*/
[Dd]ebugPublic*/
[Rr]elease*/
[Rr]eleases*/
x64/
x86/
arm/
arm64/
bld/
[Bb]in/
[Oo]bj/

# NuGet
.nuget/
packages/

# JetBrains Rider
.idea/

# Видеофайлы - слишком большие для GitHub
Assets/Import/Videos/*.mp4

# Saves
Assets/Save/slot.json

# Temp files
nul
CQ/